		<%- include("partials/header"); -%>


  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
      <%= post.title  %> 
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Blog Home 2</li>
    </ol>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
       <% if(post.image){ %>
       <img class="img-fluid rounded" src="<%= post.image %>" alt="">

       <% } else { %>
       <img class="img-fluid rounded" src="http://placehold.it/750x300" alt="">

       <% } %>

        <hr>

        <!-- Date/Time -->
        <p>Posted on January 1, 2017 at 12:00 PM</p>

        <hr>

        <!-- Post Content -->
        <p class="lead"> <%= post.content  %> </p>

       
        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form method="POST" onsubmit="return doComment(this);" action="/do-comment">
              <input type="hidden" id="post_id" name="post_id" value="<%= post._id  %>">
              <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="username">
              </div>
              <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="email">
              </div>
              <div class="form-group">
                <textarea name="comment" class="form-control" rows="3" placeholder="Comment"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        <script>
          var socket = io();
          function doComment(form) {
            var formData = {
            username: form.username.value,
            comment: form.comment.value,
            post_id: form.post_id.value,
             email: form.email.value
            };
            $.ajax({
              url: "/do-comment",
              method: "POST",
              data: formData,
              success: function (response) {
                formData._id = response._id;
                socket.emit("new_comment", formData);
                alert(response.text);
              }
            });
            return false;
          }
          socket.on("new_comment", function(comment){
            if(comment.post_id != $("#post_id").val()){
              return false;
            }
             var html = "";
            html += '<div class="media mb-4">';
              html += '<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">';
              html += '<div class="media-body">';
                html += '<h5 class="mt-0">';
                   html += comment.username;
                  html += '</h5>';
                html += comment.comment;
              html += '</div>';
              html += '</div>';
               $("#comments").prepend(html);
                });

                socket.on("new_reply", function(reply){
                 var html = "";
                 $("#replies-" + reply.comment_id).append(html);

                  html += '<div class="media mb-4">';
                html += '<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">';
                 html += '<div class="media-body">';
                  html += '<h5 class="mt-0">';
                      html += reply.name  ;
                      html += '</h5>';
                  html += reply.reply ;
                html += '</div>';
               html += ' </div>';
               

                });
 
               function doReply(form){
                 var formData = {
                   post_id: form.post_id.value,
                   comment_id: form.comment_id.value,
                   name: form.name.value,
                   reply: form.reply.value,
                   comment_email: form.comment_email.value
                 };
                 $.ajax({
                   url: "/do-reply", 
                   method: "POST",
                   data: formData,
                   success: function(response){
                     formData._id = response._id;
                     socket.emit("new_reply", formData);

                     form.name.value = "";
                     form.reply.value = "";

                     alert(response.text);
                   }
                 });
                 return false;
               }
        </script>

        <!-- Single Comment -->
        <div id="comments">
        <% if(post.comments){ %>
        <% post.comments = post.comments.reverse();%>
        <% post.comments.forEach(function(comment){ %> 
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0"> <%= comment.username  %></h5>
            <%= comment.comment  %>

            <div id="replies-<%= comment._id  %>">

            <% if(comment.replies){  %>
              <% comment.replies.forEach(function(reply){  %>
                <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                 <div class="media-body">
                  <h5 class="mt-0"> <%= reply.name  %></h5>
                  <%= reply.reply  %>
                </div>
                </div>
               

                <% });  %>
            <% }  %>
            </div>
            <div class="col-md-3">
              <form action="/do-reply" onsubmit="return doReply(this);" method="POST">
                <input type="hidden" name="post_id" value="<%= post._id  %>">
                <input type="hidden" name="comment_id" value="<%= comment._id  %>">
                <input type="hidden" name="comment_email" value="<%= comment.email  %>">

                <div class="form-group">
                   <input class="form-control" name="name" placeholder="Your Name">
                </div>
                 <div class="form-group">
                   <textarea name="reply" class="form-control" id="" cols="30" rows="5"  placeholder="Your Reply"></textarea>
                 
                </div>
                <input type="submit" class="btn btn-info btn-sm" value="Reply">
              </form>
            </div>
          </div>
        </div>
        <%  })%>
        <%  }%>
        

      </div>
      </div>
      
    </div>
   

  </div>
  <!-- /.container -->

 	<%- include("partials/footer"); -%>